.banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.push {
    margin-left: auto;
}


.logo { 
    color: #36b9cc;
    margin-left: 10px;
    margin-top: 0.5em;
}

.info { 
    color: #36b9cc;
    margin-left: auto;
    margin-top: 0.5em;
}



.logoAccent {
        color: 1cc88a;
}


.logoGfx{
    height: 3em;
}


.country {
    stroke: black;
    stroke-width: 1;
    stroke-opacity:0.5;
    fill: #FAEBD7;
  }


.eup {
    stroke: black;
    stroke-width: 1;
    stroke-opacity:0.5;
    fill: green;
  }


.areamap {
   background-color:#B0C4DE;
   border: 1px solid #D8D8D8;
}

.treemap {
    margin-top: 0px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}


.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0
}

.disclaimer {
    padding-top: 2px;
    font-size: 0.8em;
    display: block;
}

rect {
    fill: cadetblue;
    opacity: 0.3;
    stroke: white;
  }
  text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: white;
    font-size: 10px;
  }


  .textBox {
font-size: 0.8em;

  }


  .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#chart {
  width: 100%;
  height: 100%;
  position: absolute;
}
